@CHARSET "UTF-8";
#back{
 position:absolute;
 width: 100%;
 height: 7000px;

 background-position: center;
 background-repeat: no-repeat;
}

.top1{
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 2.4%;
	z-index: 1000;
	background-image: url(image.jpg);
}

.context1{
	position:absolute;
	left:0%;
	top:2.6%;
	width: 100%;
	height: 98%;
	z-index: 1000;
	background-color: silver;
}

.context0left{
	position:absolute;
	left:33%;
	top:1%;
	width: 55%;
	height: 15%;
	z-index: 1000;
}

.context0right{
	position:absolute;
	left:53%;
	top:1%;
	width: 55%;
	height: 15%;
	z-index: 1000;
}

.main{
	position:absolute;
	top:3%;
	left:4%;
	width:100%;
	z-index: 1000;
}

.left{
	width:50%;
	height: 650px;
	float: left;
}

.right{
	width:50%;
	height: 650px;
	float: left;
}

.links{
	position:absolute;
	left:17%;
}

.button{
	position: relative;
}

.tab{
	position:relative;
	left:0px;
	top:0px;
	width: 100%;
	height: 10%;
	z-index: 1000;
	background-color: #ff00ff;
	display: none;
}
